includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/**/stubs/*
    ignoreErrors:
        # Filesystem::relativeLink() есть в Laravel 12, но larastan-stubs ещё устаревшие
        - identifier: method.notFound
          path: src/Console/LinkCommand.php
